body{
    font-family: Arial;
    margin: 0;
    background: #f5f5f5;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    padding: 15px ;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.search{
    padding: 8px;
    width: 40%;
}

nav a{
    color: white;
    margin-left: 15px;
    text-decoration:none ;
}

.hero{
    text-align: center;
    padding: 80px;
    background: linear-gradient(to right, #ff7b00, #ffb347);
    color: white;
}

.hero button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.categories{
    display:inline-flex;
    justify-content: space-around;

}

.cat{
    background: white;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer; 
}
.cat img{
    width: 40%;
}

.products{
    padding: 20px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;;
}

.product{
    padding: 15px;
    margin: 0;
    border: 1px solid #ccc ;
    display: inline-block;
}

.product img{
    width: 50%;
}

.product button{
    background: orange;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

footer{
    text-align: center;
    padding: 20px;
    background: #111;
    color:white ;
}

    